<div align="center">
  <form method="GET" action="/quizes/<%= quiz.id %>/answer" >
      <label for=""><%= quiz.pregunta %> :</label>
      <input type="text" name="respuesta" placeholder="responda aquí" pattern="[a-zA-ZàáâäãåąčćęèéêëėįìíîïłńòóôöõøùúûüųūÿýżźñçčšžÀÁÂÄÃÅĄĆČĖĘÈÉÊËÌÍÎÏĮŁŃÒÓÔÖÕØÙÚÛÜŲŪŸÝŻŹÑßÇŒÆČŠŽ∂ð ,.\'-]{2,256}" required>
      <br><br>
      <a href="/quizes"><button type="button">Volver</button></a>
      <input type="submit" value="Enviar">
  </form>
</div>
<div>
  <p><a href="/quizes/<%= quiz.id %>/comments/new"><button>Nuevo Comentario</button></a></p>
  <br>
  <p><strong>Comentarios: </strong></p>
  <br>
  <%for(index in quiz.Comments){%>
	<%if(quiz.Comments[index].publicado || session.user){%>
		<p>- <%=quiz.Comments[index].texto%>
			<%if(session.user && !quiz.Comments[index].publicado){%>
				<a href="/quizes/<%= quiz.id %>/comments/<%=quiz.Comments[index].id%>/publish"><button>Publicar</button></a>
			<%}%>
		</p>
	<%}%>
<%}%>
</div>
